h1 {
    font-size: 4em;
    font-family: fantasy;
    text-align: center;
    margin-top: 20px;
}
h1 span {
    font-size: 0.5em;
    font-family: fantasy;
    text-align: center;
}
h2 {
    font-size: 2em;
    font-family: fantasy;
    margin-top: 20px;
    background: linear-gradient(#EEEEEE, #999999);
    -webkit-background-clip: text;
    color: transparent;
}

li {
    font-family: cursive;
    /* CSS Cursive on Edge, Firefox and Chrome results in Comic Sans. Who knew? */
}
body {
    background: linear-gradient(#0077DD, #dd7703);
}